$red: #B71C1C;

body {
  display: grid;
  grid-template-columns: 1fr;
}

p {
  color: $red;
  font-size: 40px;
  font-family: -apple-system, sans-serif;
  font-weight: bold;
  transform: rotate(-1deg);
  margin: 1rem;
}

.pizza {
  &::before {
    content: '🍕 ';
    display: inline;
  }
}
