@charset "UTF-8";
/* line 3, assets/src/scss/style.scss */
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

/* line 8, assets/src/scss/style.scss */
p {
  margin: 1rem;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  color: #B71C1C;
  font-family: -apple-system, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

/* line 18, assets/src/scss/style.scss */
.pizza::before {
  display: inline;
  content: '🍕 ';
}
